body {
    * {
        // border: .5px solid magenta;
    }

    &.keyboard-focus-mode {
        a,
        button,
        input,
        select,
        textarea {
            &:focus {
                outline: none !important;
            }

            &:focus-visible {
                @include focus-styles;
            }

            &.btn {
                &:focus-visible {
                    outline-offset: -3px !important;
                }
            }
        }
    }
}

section {
    padding: 3rem 0;
}

.icon-bold {
    &::before {
        font-weight: bold !important;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

textarea {
    resize: none;
}

.skip-link {
    z-index: 9999;
}
