// FONTS
// *Update _utilities-map.scss accordingly
$font-primary: "PRIMARY-FONT-NAME", Helvetica, sans-serif; // Body copy
$font-secondary: "SECONDARY-FONT-NAME", Helvetica, sans-serif; // Headings

// Bootstrap Icons - fonts
$bootstrap-icons-font-src:
    url("../fonts/bootstrap-icons.woff2") format("woff2"),
    url("../fonts/bootstrap-icons.woff") format("woff") !default;

$font-family-base: $font-primary;
$headings-font-family: $font-secondary;

// THEME COLORS
// *Update $theme-colors/_utilities-map.scss accordingly
$primary: #2d4c6f;
$secondary: #f1cb13;
$gray: #a7a8aa;
$white: #ffffff;
$black: #000000;
$placeholder: magenta;

// Focus outline color
$focus-color: #03d603; // Green
// $focus-color: #0043ff; // Blue

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "gray": $gray,
    "white": $white,
    "black": $black,
    "placeholder": $placeholder,
    "transparent": transparent,
) !default;
// scss-docs-end theme-colors-map

$body-bg: #ffffff;
$headings-color: $primary;
// $body-color: $primary;

// BORDER-RADIUS
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$input-border-radius: 0;
$form-check-input-border-radius: 0;
$form-switch-border-radius: 0;
$form-select-border-radius: 0;
$form-range-track-border-radius: 0;
$form-range-thumb-border-radius: 0;
$nav-tabs-border-radius: 0;
$nav-pills-border-radius: 0;
$navbar-toggler-border-radius: 0;
$dropdown-border-radius: 0;
$dropdown-inner-border-radius: 0;
$pagination-border-radius: 0;
$card-border-radius: 0;
$card-inner-border-radius: 0;
$accordion-border-radius: 0;
$accordion-inner-border-radius: 0;
$tooltip-border-radius: 0;
$form-feedback-tooltip-border-radius: 0;
$popover-border-radius: 0;
$popover-inner-border-radius: 0;
$toast-border-radius: 0;
$badge-border-radius: 0;
$modal-content-border-radius: 0;
$modal-content-inner-border-radius: 0;
$alert-border-radius: 0;
$progress-border-radius: 0;
$list-group-border-radius: 0;
$thumbnail-border-radius: 0;
$breadcrumb-border-radius: 0;

// HR
$hr-opacity: 1 !default;

// BUTTONS
// scss-docs-start btn-variables
$btn-border-width: 0 !default;
$btn-box-shadow: none !default;
$btn-active-box-shadow: none !default;

$btn-transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out !default;

$btn-hover-bg-shade-amount: 0 !default;
$btn-hover-bg-tint-amount: 0 !default;
$btn-hover-border-shade-amount: 0 !default;
$btn-hover-border-tint-amount: 0 !default;
$btn-active-bg-shade-amount: 0 !default;
$btn-active-bg-tint-amount: 0 !default;
$btn-active-border-shade-amount: 0 !default;
$btn-active-border-tint-amount: 0 !default;
// scss-docs-end btn-variables

// IMAGES
$thumbnail-padding: 0rem;
$thumbnail-border-color: $white;
$thumbnail-border-radius: none;

// CARDS
$card-bg: transparent;
$card-cap-bg: transparent;
$card-border-width: 0;

$enable-shadows: true !default;
$enable-responsive-font-sizes: true;

// NAVIGATION
$menu-height-desktop: 75px;
$menu-height-mobile: 65px;
$menu-border-btm-width: 4px;

// GRID BREAKPOINTS
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxl2: 1600px,
    xxl3: 1900px,
    xxl4: 2400px,
) !default;
// scss-docs-end grid-breakpoints

// GRID CONTAINERS
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxl2: 1520px,
    xxl3: 1600px, // xxl4: 1600px,
) !default;
// scss-docs-end container-max-widths

// Retina media query variable
$retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)";

$enable-negative-margins: true;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
) !default;
// scss-docs-end spacer-variables-maps

// Default is 6, set to 12 to generate row-cols-7 through row-cols-12
$grid-row-columns: 12 !default;
