/*
    <a class="btn btn-primary" href="#" aria-label="Learn more about content">Learn More</a>
*/

button {
    box-shadow: none;
    border: none;
    padding: 0;
}

.btn {
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-hover-color: none;

    @each $name, $color in $theme-colors {
        &.btn-#{$name} {
            // Button variations...
        }
    }
}
