.edge-line-wrapper {
    position: relative;
    display: inline-block;

    .line {
        position: absolute;
        top: 50%;
        height: 2px; /* Adjust as needed */
        z-index: 0; /* Adjust as needed */

        &.right-line {
            left: 100%;
        }

        &.left-line {
            right: 100%;
        }
    }
}
